.barbell-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.barbell-svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.weight-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 25%;
}

.weight-container > * + * {
  margin-left: 5px;
}
