.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}

.section-inputs {
  width: 100%;
}

.section-barbell {
  margin-right: -15px;
  /*width: 100%;*/
}

@media (min-width: 768px) {
  .section-inputs {
    width: 50%;
  }

  .section-barbell {
    margin-right: -15px;
    width: 50%;
  }
}

@media (min-width: 1430px) {
  .section-barbell {
    margin-right: 0;
    width: 50%;
  }
}
